@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    --sb-track-color: #ffb9f4;
    --sb-thumb-color: #ff62c8;
    --sb-size: 8px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

::-webkit-scrollbar {
    width: var(--sb-size)
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
    border: 1px solid #ffb9f4;
}